* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    
}
.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(135deg, #7c3aed, #ec4899);
    color: white;
    z-index: 10;
    font-family: Arial, sans-serif;
}

.navLeft  {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding-bottom: 6px;
}

.navbar a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 2px;
}

.navbar a:hover {
    opacity: 0.85;
}