body {
    min-height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("bgloginfix.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box {
    text-align: center;
    background: white;
    padding: 25px;
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.box h2 {
    margin: 10px 0;
    font-weight: 600;
    font-family:sans-serif;
}

.box h5 {
    margin-top: 30px;
}
.box input {
    width: 100%;
    padding: 10px;
    margin-top: -15px;
    font-weight: normal;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.box button {
    width: 50%;
    padding: 10px;
    display: block;
    margin: 5px auto;
    border: none;
    background: rgb(7, 206, 7);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.box button:hover {
    background: #2ecc71;
}