* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, #7c3aed, #ec4899);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.cabut a {
    position: fixed;       
    top: 20px;             
    right: 20px;           
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 20px;
    background: #ee3535;
    color: white;
    cursor: pointer;
    font-size: 14px;
    z-index: 999;          
}

.cabut a:hover {
  background: #dc2626;
}

.quiz-box {
  background: white;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  text-align: center;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.answers button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background: #f1f5f9;
}

.answers button:hover {
  background: #e0e7ff;
}

#leafImage {
  display: none;
  margin: 15px auto ;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

#feedback {
  margin-top: 20px;
  font-weight: bold;
}

#nextButton {
  display: none;
  margin-top: 15px;
  padding: 10px 35px;
  border: none;
  border-radius: 25px;
  background: rgb(35, 151, 29);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#nextButton:hover {
  background: green;
}

#stopButton {
  display: none;
  margin-top: 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  background: #ef4444;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

#stopButton:hover {
  background: #dc2626;
}

#tryButton {
  display: none;
  margin-top: 15px;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  background: rgb(35, 151, 29);
  color: white;
  font-size: 16px;
  cursor: pointer;
}
